@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$color-main-green: #5E7A7D;
$color-100-bg: #F3F9FA;
$color-200-bg: #C5E4E7;
$color-300-bg: #9FE8DF;
$color-400-bg: #00474B;
$color-bg-border: #26C2AE;
$color-light-text: #7F9D9F;
$color-placeholder: #547878;


/* hide input arrows - Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* hide  input arrows - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: $color-200-bg;
  font-family: 'Space Mono', monospace;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  margin: 0 auto;
  margin-bottom: 150px;
  align-self: center;
  width: 90px;
  height: 55px;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 32px 32px 32px 48px;
  height: 480px;
  width: 920px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 25px;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    height: auto;
    width: auto;
  }

  &__right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px 40px 40px 40px;
    height: 100%;
    width: 100%;
    background-color: $color-400-bg;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;
  }
}

.input {
  &__title {
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
    color: $color-main-green;

    &--tip {
      margin: 0;
      margin-bottom: 16px;
    }
  }

  &__select {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
  }

  &__field {
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 48px;
    width: 380px;
    color: $color-400-bg;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background: $color-100-bg;
    border-radius: 5px;
    text-align: end;
    cursor: pointer;

    &:focus {
      border: 2px solid $color-bg-border;
    }

    &--bill {
      background-image: url('./images/icon-dollar.svg');
      background-position: 17px, center;
      background-repeat: no-repeat;
      padding-right: 17px;
    }

    &--people {
      background-image: url('./images/icon-person.svg');
      background-position: 17px, center;
      background-repeat: no-repeat;
      padding-right: 17px;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
  height: 100%;
  width: 100%;
}

.grid-item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  height: 48px;
  width: 117px;
  font-size: 24px;
  background-color: $color-400-bg;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: 'Space Mono', monospace;

  &:not(:last-child) {
    cursor: pointer;

    &:hover {
      background-color: $color-300-bg;
      color: $color-400-bg;
    }
  }

  &--active {
    background-color: $color-bg-border;
    border-color: $color-bg-border;
    color: $color-400-bg;
  }

  &--input {
    background-color: $color-100-bg;
    box-sizing: border-box;
    outline: none;
    border: none;

    &::placeholder {
      text-align: center;
      color: $color-placeholder;
    }

    &:focus {
      background-color: $color-100-bg;
      color: $color-400-bg;
      border: 2px solid $color-bg-border;
    }
  }
}

.sumblock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__value {
    color: $color-bg-border;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 100%;

    &::before {
      content: '$';
    }
  }

  &--tip {
    margin-bottom: 60px;
  }

  &__content {
    &--line1 {
      font-family: 'Space Mono', monospace;
      color: #fff;
    }

    &--line2 {
      font-family: 'Space Mono', monospace;
      color: $color-light-text;
    }
  }
}

.reset-button {
  box-sizing: border-box;
  background: $color-bg-border;
  border: none;
  border-radius: 5px;
  height: 48px;
  width: 100%;
  font-size: 20px;
  font-family: 'Space Mono', monospace;
  color: $color-400-bg;
  cursor: pointer;

  &:hover {
    background-color: $color-300-bg;
  }
}