@import "./utils/mixins.scss";

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

$color-main-green: #5E7A7D;
$color-light-text: #7F9D9F;
$color-orange-error: #E17457;
$color-green-100: #F3F9FA;
$color-green-200: #C5E4E7;
$color-green-300: #9FE8DF;
$color-green-400: #00474B;
$color-bg-border: #26C2AE;
$color-placeholder: #547878;


/* hide input arrows - Firefox */
input[type='number'] {
  -appearance: textfield;
}

/* hide  input arrows - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  background-color: $color-green-200;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Space Mono', monospace;

  @include onMobileAndTablet() {
    align-items: flex-start;
  }
}

.logo {
  margin: 0 auto;
  margin-bottom: 150px;
  align-self: center;
  width: 90px;
  height: 55px;
  background-image: url(./images/logo.svg);
  background-repeat: no-repeat;
  background-position: center;

  @include onMobileAndTablet() {
    margin-bottom: 40px;
    margin-top: 50px;
  }
}

.calculator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
  padding: 32px 32px 32px 48px;
  height: 480px;
  width: 920px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 25px;

  @include onMobileAndTablet() {
    flex-direction: column;
    width: auto;
    height: 790px;
    padding: 32px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    height: auto;
    width: auto;

    @include onMobileAndTablet() {
      gap: 32px;
      height: auto;
      width: auto;
    }
  }

  &__right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 56px 40px 40px 40px;
    height: 100%;
    width: 100%;
    background-color: $color-green-400;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;

    @include onMobileAndTablet() {
      padding: 36px 22px 24px 22px;
      height: 100%;
      width: 100%;
    }
  }
}

.input {
  &__title {
    display: flex;
    align-items: center;
    margin: 0;
    margin-bottom: 6px;
    font-size: 16px;
    color: $color-main-green;

    &--error {
      margin-left: auto;
      color: $color-orange-error;
    }

    &--tip {
      margin: 0;
      margin-bottom: 16px;
    }
  }

  &__select {
    display: grid;
    flex-direction: row;
    justify-content: space-between;
  }

  &__field {
    box-sizing: border-box;
    outline: none;
    border: none;
    height: 48px;
    width: 380px;
    color: $color-green-400;
    font-family: inherit;
    font-size: 24px;
    background: $color-green-100;
    border-radius: 5px;
    text-align: end;
    cursor: pointer;

    @include onMobileAndTablet() {
      width: 100%;
    }

    &:focus {
      border: 2px solid $color-bg-border;
    }

    &--bill {
      background-image: url('./images/icon-dollar.svg');
      background-position: 17px, center;
      background-repeat: no-repeat;
      padding-right: 17px;
    }

    &--people {
      background-image: url('./images/icon-person.svg');
      background-position: 17px, center;
      background-repeat: no-repeat;
      padding-right: 17px;
    }

    &--has-error {
      border: 2px solid $color-orange-error;

      &:focus {
        border: 2px solid $color-orange-error;
      }
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px;
  height: 100%;
  width: 100%;

  @include onMobileAndTablet() {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
  }
}

.grid-item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  height: 48px;
  width: 118px;
  font-size: 24px;
  background-color: $color-green-400;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  transition: all, 300ms;

  @include onMobileAndTablet() {
    width: 100%;
  }

  &:not(:last-child) {
    cursor: pointer;

    &:hover {
      background-color: $color-green-300;
      color: $color-green-400;
    }
  }

  &--active {
    background-color: $color-bg-border;
    border-color: $color-bg-border;
    color: $color-green-400;
  }

  &--input {
    background-color: $color-green-100;
    box-sizing: border-box;
    outline: none;
    border: none;

    &::placeholder {
      text-align: center;
      color: $color-placeholder;
    }

    &:focus {
      background-color: $color-green-100;
      color: $color-green-400;
      border: 2px solid $color-bg-border;
    }
  }
}

.sumblock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__value {
    color: $color-bg-border;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 100%;

    @include onMobileAndTablet() {
      font-size: 32px;
      letter-spacing: -0.7px;
    }

    &::before {
      content: '$';
    }
  }

  &--tip {
    margin-bottom: 60px;

    @include onMobileAndTablet() {
      margin-bottom: 20px;
    }
  }

  &__content {
    &--line1 {
      color: #fff;
    }

    &--line2 {
      color: $color-light-text;
    }
  }
}

.reset-button {
  box-sizing: border-box;
  background: $color-bg-border;
  border: none;
  border-radius: 5px;
  height: 48px;
  width: 100%;
  font-size: 20px;
  font-family: inherit;
  color: $color-green-400;
  cursor: pointer;
  transition: all, 300ms;

  &:hover {
    background-color: $color-green-300;
  }
}